<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBGdQ9laoAB_uhT7_1cf6wwuSvLcW5wdlA</string>
	<key>GCM_SENDER_ID</key>
	<string>1002875866719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.thun.kristian.Pet-BnB</string>
	<key>PROJECT_ID</key>
	<string>petbnb-fcb22</string>
	<key>STORAGE_BUCKET</key>
	<string>petbnb-fcb22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002875866719:ios:a97e7dfe914d659c8495ea</string>
</dict>
</plist>